<div class='row'>

  <div class='col-xs-12 text-center'>

    <h1>Repositories</h1>

  </div>

</div>

<div class='row'>

  {{#repo-filter filter=(action 'filterByName') as |rentals|}}

    {{#each rentals as |repositoryUnit|}}
      {{repo-listing repository=repositoryUnit}}
    {{/each}}

  {{/repo-filter}}

</div>
