<div class='row'>

  <div class='col-xs-12 text-center'>

    <h1>Users</h1>

  </div>

</div>

<div class='row'>

  {{#user-filter filter=(action 'filterByName') as |users|}}

    {{#each users as |userUnit|}}
      {{user-listing user=userUnit}}
    {{/each}}

  {{/user-filter}}

</div>
